@using Microsoft.AspNetCore.Identity
@model IEnumerable<RoleEditModel>
<!--This is the view of "Manage Users"-->
<!--AKA: AdminRole Index page-->

@{
    ViewBag.Title = "Manage Users";
}

<h1>All Users.</h1>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading mt-3">All users of BevoBnB organized by role</div>
    <table class="table table-striped">
        <tr>
            <th class="text-primary">ID</th>
            <th class="text-primary">Name</th>
            <th class="text-primary">User Names</th>
            <th></th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-center">No roles</td>
            </tr>
        }
        else
        {
            foreach (RoleEditModel role in Model)
            {
                <tr>
                    <td>@role.Role.Id</td>
                    <td>@role.Role.Name</td>
                    <td>
                        @if (role.RoleMembers == null || role.RoleMembers.Count() == 0)
                        {
                            @: No Users in role
                        }
                        else
                        {
                            <p>@string.Join(", ", role.RoleMembers.Select(x => x.Email))</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Manage Role", "EditRole", new { id = role.Role.Id }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        }
    </table>
</div>
<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-5">Go Back</a>