@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewBag.Title.</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OldPassword" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <p>
                    You are making changes to <strong>@Html.DisplayFor(Model => Model.FullName, new { @class = "form-control" })</strong>'s password.
                </p>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
            <br />

        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary mt-3">Back to Home</a>
</div>