@model fa21team9finalproject.Models.AppUser

@{
    ViewData["Title"] = "Change Address";
}

<h1>@ViewBag.Title.</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeAddress" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="PhoneNumber" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="Birthday" />
            <input type="hidden" asp-for="IsActive" />
            <div class="form-group">
                <p>
                    You are making changes to <strong>@Html.DisplayFor(Model => Model.FullName, new { @class = "form-control" })</strong>'s profile.
                </p>
            </div>

            <div class="form-group text-info">
                <label class="control-label"><strong>Current Address:</strong></label>
                @Html.DisplayFor(Model => Model.FullAddress, new { @class = "form-control" })
            </div>
            <br />

            <div class="form-group">
                <label class="control-label">New Street Address</label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label class="control-label">New City</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label class="control-label">New State</label>
                <select asp-for="State" asp-items="Html.GetEnumSelectList<StateList>()" class="form-control">
                    <option selected="selected" value="">Select State</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label class="control-label">New Zip Code</label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Update Address" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary mt-3">Back to Home</a>
</div>