@model fa21team9finalproject.Models.Property

@{ ViewData["Title"] = "Edit Property Listing"; }

<h1>@ViewBag.Title.</h1>

<div>
    <p>
        You are making changes to your property listing located at: <strong class="text-info">@Html.DisplayFor(Model => Model.FullAddress)</strong>
    </p>
</div>
<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyID" />
            <input type="hidden" asp-for="StreetAddress" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="State" />
            <input type="hidden" asp-for="ZipCode" />
            <input type="hidden" asp-for="AverageRating" />
            <input type="hidden" asp-for="NumberBath" />
            <input type="hidden" asp-for="NumberBed" />
            <input type="hidden" asp-for="NumberGuests" />
            <input type="hidden" asp-for="PetsAllowed" />
            <input type="hidden" asp-for="FreeParking" />
            <input type="hidden" asp-for="ApprovalStatus" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="HostEmail" />
            <input type="hidden" asp-for="PropertyNumber" />

            <div class="form-group">
                <label asp-for="PricePerWeekday" class="control-label"></label>
                <input asp-for="PricePerWeekday" class="form-control" />
                <span asp-validation-for="PricePerWeekday" class="text-danger"></span>
            </div>
            </br>

            <div class="form-group">
                <label asp-for="PricePerWeekend" class="control-label"></label>
                <input asp-for="PricePerWeekend" class="form-control" />
                <span asp-validation-for="PricePerWeekend" class="text-danger"></span>
            </div>
            </br>

            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            </br>

            <div class="form-group">
                <label asp-for="CleaningFee" class="control-label"></label>
                <input asp-for="CleaningFee" class="form-control" />
                <span asp-validation-for="CleaningFee" class="text-danger"></span>
            </div>
            </br>

            <div class="form-group">
                <label asp-for="DiscountDays" class="control-label"></label>
                <input asp-for="DiscountDays" class="form-control" />
                <span asp-validation-for="DiscountDays" class="text-danger"></span>
            </div>
            </br>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
</div>
</br>