@using Microsoft.AspNetCore.Identity;
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="LogOff" asp-controller="Account" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-action="Index" asp-controller="Account" title="Edit Profile" class="nav-link">Hello @User.Identity.Name!</a>
            </li>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
            {
                <li>
                    <a asp-action="Index" asp-controller="Reservations" title="My Shopping Cart" class="nav-link">My Cart</a>
                </li>
            }

            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="nav-link" style="padding-right: 20px">Log Off</span></a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-action="Register" asp-controller="Account" title="Register" id="registerLink" class="nav-link">Register</a></li>
        <li><a asp-action="Login" asp-controller="Account" title="Login" id="loginLink" class="nav-link">Log in</a></li>
    </ul>
}